extends layout

block content
  h1.text-center= title
  #container
  form.text-center
    input(type='text' name="symbol" placeholder='Add Stock Code' id='symbol')
    input(type="submit" value='Add' id='submitBtn').btn.btn-success
  #stocks
  script.
    $('#submitBtn').click(function(e){   
        let symbol = $('#symbol').val();
        socket.emit('add stock', { symbol: symbol});
    });
      
        